<kendo-grid #grid [resizable]="true" [kendoGridTemplateEditing]="createNewCourse" [kendoGridBinding]="gridData"
  [filterable]="true" [groupable]="false" [sortable]="true" [pageSize]="10" [pageable]="true" [height]="400"
  [navigable]="true" [selectable]="selectableSettings" [kendoGridSelectBy]="'courseId'"
  (selectedKeysChange)="selectedKeysChange($event)" (dataStateChange)="onStateChange($event)"
  (cellClick)="cellClickHandler($event)" (cellClose)="cellCloseHandler($event)">
  <ng-template kendoGridToolbarTemplate>
    <horizontal-toolbar (add)="add()" (edit)="edit()" (save)="save()" (delete)="delete()" (cancel)="cancel()">
    </horizontal-toolbar>
    <div class="right">
      <button kendoButton (click)="view()">view</button>
    </div>
  </ng-template>
  <kendo-grid-checkbox-column [showSelectAll]="true" *ngIf="editable"></kendo-grid-checkbox-column>
  <kendo-grid-column [editable]="false" field="courseId" title="CourseId"></kendo-grid-column>
  <kendo-grid-column [editable]="editable" field="courseName" title="CourseName"></kendo-grid-column>
  <kendo-grid-column [editable]="editable" field="courseDescription" title="Description"></kendo-grid-column>
  <kendo-grid-column [editable]="editable" field="author"></kendo-grid-column>
  <kendo-grid-column [editable]="editable" editor="numeric" field="price"></kendo-grid-column>
</kendo-grid>

<course-view [course]="selectedCourse" (clear)="clear()"></course-view>