<div>
    <kendo-toolbar>

        <kendo-toolbar-button  kendoGridAddCommand             
          icon="add"
          (click)="addEmitter()"
        ></kendo-toolbar-button>
       
        <kendo-toolbar-button     
       icon="edit"
        (click)="editEmitter()"
      ></kendo-toolbar-button>

      <kendo-toolbar-button     
          icon="delete"
      (click)="deleteEmitter()"
    ></kendo-toolbar-button>
    
        <kendo-toolbar-button     
    icon="save"
    (click)="saveEmitter()"
    ></kendo-toolbar-button>

        <kendo-toolbar-button     
        icon="cancel"
    (click)="cancelEmitter()"
    ></kendo-toolbar-button>



</kendo-toolbar>



</div>